---
layout: default
title: Hao Liu | Collaborators
picture: avater
students:
  -
    name: <br>Chunyuan Li
    img: chunyuanli
    url: https://sites.google.com/site/chunyuan24/
    tagline: Ph.D. student, ECE department, Duke University
  -
    name: <br>Prof. Lawrence Carin
    img: carin
    url: http://people.ee.duke.edu/~lcarin/
    tagline: ECE department, Duke University

  -
    name: <br>Prof. Cynthia Rudin
    img: cynthia
    url: https://users.cs.duke.edu/~cynthia/
    tagline: CS and ECE department, Duke University

  -
    name: <br>Prof. Yufeng Li
    img: yufengli
    url: http://lamda.nju.edu.cn/liyf/?AspxAutoDetectCookieSupport=1
    tagline: CS department, Nanjing University

  -
    name: <br>Prof. Changyou Chen
    img: changyouchen
    url: https://www.cse.buffalo.edu/~changyou/
    tagline: CS department,the University at Buffalo, SUNY
  -
    name: <br>Prof. Ricardo Henao
    img: ricardo
    url: http://ece.duke.edu/faculty/ricardo-henao
    tagline: ECE department, Duke University



former-students:
  -
    name: Michael Auli
    img: auli
    url: http://michaelauli.github.io/
    tagline: PhD 2012, University of Edinburgh. Now at Facebook AI Research.
    description: >
      During our collaboration Michael developed the most accurate known
      parser for combinatory categorial grammar, a linguistically expressive
      grammar formalism. After graduation Michael began working on neural
      translation, and is one of the key researchers behind Facebook's
      <a href="https://code.facebook.com/posts/1978007565818999/a-novel-approach-to-neural-machine-translation/">convolutional machine translation system</a>.
  -
    name: Iulia Banghea
    img: edi
    tagline: BSc 2017, University of Edinburgh
    description: >
      Iulia's honours thesis was on native language identification in second language text.
  -
    name: Despoina Christou
    img: edi
    url: https://www.linkedin.com/in/despoinachristou
    tagline: MSc 2016, University of Edinburgh
    description: >
      Despoina worked on natural language generation with neural networks.
  -
    name: Evangelia Lypiridi
    img: edi
    tagline: MSc 2016, University of Edinburgh.
    description: >
      Evangelia worked on natural language generation using phrase-based machine translation.

collaborators:
  -
    name: Abhishek Arun
    img: arun
    tagline: Bing.
    url: https://www.linkedin.com/in/abhishek-arun-136825/?ppe=1
  -
    name: Phil Blunsom
    img: blunsom
    url: http://www.cs.ox.ac.uk/people/phil.blunsom/
    tagline: Deepmind / University of Oxford.
  -
    name: Chris Callison-Burch
    img: ccb
    url: http://www.cis.upenn.edu/~ccb/
    tagline: University of Pennsylvania.
  -
    name: David Chiang
    img: chiang
    url: http://www3.nd.edu/~dchiang/
    tagline: University of Notre Dame.
  -
    name: Chris Dyer
    img: redpony
    url: http://www.cs.cmu.edu/~cdyer/
    tagline: Deepmind / Carnegie Mellon University.


---
<div class="page-header">
  <h3>Collaborators</h3>

</div>
I am very fortunate to have worked with these very nice people:

<br>

<!--<h4>Current students</h4> -->
{% include collaborator.html people=page.students show=true %}

<!--
<h4>Alumni</h4>
{% include collaborator.html people=page.former-students show=false %}

<h4>Collaborators past and present</h4>
{% include collaborator.html people=page.collaborators show=false %}

<br/> -->
