---
layout: default
title: Hao Liu
picture: avater
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Hao Liu </h3> <h5> Chinese 刘昊</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        <!--<a href="https://en.wikipedia.org/wiki/Reader_(academic_rank)">Reader</a><br/> -->
        <a>Computer Science</a><br/>
        <a href="http://www.cms.caltech.edu/">CMS Department</a><br/>
        <!--<a href="http://www.ed.ac.uk/schools-departments/informatics/">School of Informatics</a><br/> -->
        <a href="http://www.caltech.edu/">Caltech</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:haoliu9605@gmail.com"><span class="glyphicon glyphicon-envelope"></span></a> Email: haoliu9605@gmail.com<br/>
      <!-- <a href="tel:+44-1316504430"><span class="glyphicon glyphicon-phone"></span>+44 131 650 4430</a><br/> -->
      <a href="https://scholar.google.com/citations?user=aXo4NLcAAAAJ&hl=en">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="http://github.com/hliu96">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github: hliu96
    </div>
  </div>
</div>

<p>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114747132-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114747132-1');
</script>

<!-- Hotjar Tracking Code for haoliu9605.github.io -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:688330,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
Welcome, I am currently a first year Machine Learning PhD student at Caltech. 

<h4>Education Background</h4>
</p>
09/2018 -  <br>
<B>PhD in Computer Science, California Institute of Technology  </B>
 <br>
<br>


09/2014 - 07/2018 <br>
<B>B.S. in Computer Science, Kuang Yaming Honors School, Nanjing University </B><br> (Selected 91 from 3400 in total,exempted from Natinoal College Entrance Examination) <br>

<br>
08/2016 - 01/2017 <br>
<B>Exchange student, Computer Science department, Duke University </B>(Selected 11 from 91) <br>
GPA: 4.0/4.0  <br>
Courses: Machine Learning(Graduate Level)(A+), Intro High Dim Data Analysis(A+), Undergraduate Research(A), Statistics(A+)

<br>

<br>

<h4>Research Experience</h4>
08/2016 - 09/2017 <br>
Research Assistant, Advisor: Prof. Lawrence Carin, Duke University <br>

<br>
03/2017 - 09/2017 <br>
Research Assistant, Advisor: Prof. Cynthia Rudin, Duke University <br>

<br>
09/2015 - 08/2016; 09/2017 -  <br>
Research Assistant, Advisor: Prof. Yu-Feng Li, LAMDA group, Nanjign University <br>

<p>

<br>

<h4>News</h4>
&bull; One paper accepted by AISTATS 2019 <br>
&bull; One paper accepted by AAAI 2018 <br>
&bull; Two papers accepted by NIPS 2017

<br><br>

<h4>Presentations</h4>

&bull; <a href="http://people.ee.duke.edu/~lcarin/Hao6.9.2017.pdf"><b >Bidirectinal GAN</b> </a> 
<br><br>
<h4>Mics</h4>
&bull; Sub reviewer NIPS 2017 <br>
&bull; Sub reviewer ICML 2017


<!--
{% for post in site.talks %}
    {% include paper.html paper=post %}
{% endfor %}-->
<br><br>


<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}
