---
layout: default
title: Hao Liu | Papers &amp; Talks
picture: avater
---
<div class="page-header">
  <h3>Publications</h3>
</div>

{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<!--
<div class="page-header">
<h3>Undergraduate Research Poster</h3>
</div> -->



<div class="page-header">
<h3>Talks</h3>
</div>
&bull; <a href="http://people.ee.duke.edu/~lcarin/Hao6.9.2017.pdf"><b >Bidirectinal GAN</b> </a>, Prof. Lawrence Carin's Group, Duke University <br>
Talked about the paper <a href="https://arxiv.org/pdf/1606.00704.pdf">  Adversarially Learned Inference </a> and <a href="https://arxiv.org/pdf/1605.09782.pdf"> Adversarial Feature Learning </a> in a weekly reading group, be the first undergraduate student to do this. <br>
&bull; <b >Decision tree</b> </a>, Prof. Yufeng Li's Group, Nanjing University
